.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.sidebar {
  width: 240px;
  background-color: #0f0f0f;
  color: white;
  height: 100vh;
  padding: 1rem;
  position: fixed;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo {
  width: 100px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
  padding: 0.5rem;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: #2a2a2a;
}

.icon {
  width: 20px;
}

.navbar {
  height: 60px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin-left: 240px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
